<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="isAsyncDown" value="true"/>
    <!-- 公共数据库名称 -->
    <add key="commonDB" value="Lottery"/>
    <!-- Category表及公共表所在的数据库连接字符串名 -->
    <add key="commonTable" value="common"/>
    <!-- 11选5公共维表所在的数据库存连接字符串名 -->
    <add key="11x5DmTable" value="jiangx11x5"/>
    <!-- 时时彩公共维表所在的数据库存连接字符串名 -->
    <add key="sscDmTable" value="jiangxssc"/>
    <!-- 福彩3D公共维表所在的数据库存连接字符串名 -->
    <add key="3dDmTable" value="fc3d"/>
    <!-- 时时乐公共维表所在的数据库存连接字符串名 -->
    <add key="sslDmTable" value="shanghssl"/>
    <!-- 体彩排列3与5公共维表所在的数据库存连接字符串名 -->
    <add key="pl35DmTable" value="tcpl35"/>
    <!-- 湖南幸运赛车公共维表所在的数据库存连接字符串名 -->
    <add key="hun12x3DmTable" value="hun12x3"/>
  </appSettings>
  <connectionStrings>
    <add name="common" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=Lottery;Pooling=true"/>
    <add name="shand11x5" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryShanD115;Pooling=true"/>
    <add name="jiangx11x5" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryJiangX115;Pooling=true"/>
    <add name="guangd11x5" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryGuangD115;Pooling=true"/>
    <add name="chongq11x5" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryChongQ115;Pooling=true"/>
    <add name="chongqssc" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryChongQSSC;Pooling=true"/>
    <add name="jiangxssc" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryJiangXSSC;Pooling=true"/>
    <add name="fc3d" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryFC3D;Pooling=true"/>
    <add name="shanghssl" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryShangHSSL;Pooling=true"/>
    <add name="tcpl35" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryPL35;Pooling=true"/>
    <add name="hun12x3" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryHuN12X3;Pooling=true"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
