<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataSourceSection" type="Lottery.Configuration.DataSourceSection,Lottery.Core"/>
  </configSections>
  <dataSourceSection>
    <dataSources>
      <dataSource name="mysql" namespace="Lottery.Data.MySQL" assembly="Lottery.Data">
        <databases>
          <add name="common" namespace="Common" connectionString="server=localhost;user id=root; password=ddd; database=Lottery; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="shand11x5" namespace="D11X5" connectionString="server=localhost;user id=root; password=ddd; database=LotteryShanD115; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="jiangx11x5" namespace="D11X5" connectionString="server=localhost;user id=root; password=ddd; database=LotteryJiangX115; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="guangd11x5" namespace="D11X5" connectionString="server=localhost;user id=root; password=ddd; database=LotteryGuangD115; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="chongq11x5" namespace="D11X5" connectionString="server=localhost;user id=root; password=ddd; database=LotteryChongQ115; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="chongqssc" namespace="SSC" connectionString="server=localhost;user id=root; password=ddd; database=LotteryChongQSSC; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="jiangxssc" namespace="SSC" connectionString="server=localhost;user id=root; password=ddd; database=LotteryJiangXSSC; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="fc3d" namespace="D3" connectionString="server=localhost;user id=root; password=ddd; database=LotteryFC3D; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="shanghssl" namespace="SSL" connectionString="server=localhost;user id=root; password=ddd; database=LotteryShangHSSL; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="tcpl35" namespace="PL35" connectionString="server=localhost;user id=root; password=ddd; database=LotteryPL35; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
          <add name="hun12x3" namespace="D12X3" connectionString="server=localhost;user id=root; password=ddd; database=LotteryHuN12X3; pooling=true;Charset=utf8;Allow Zero Datetime=True;Connect Timeout=1800"/>
        </databases>
      </dataSource>
      <dataSource name="sqlserver" namespace="Lottery.Data.SQLServer" assembly="Lottery.Data">
        <databases>
          <add name="common" namespace="Common" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=Lottery;Pooling=true"/>
          <add name="shand11x5" namespace="D11X5" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryShanD115;Pooling=true"/>
          <add name="jiangx11x5" namespace="D11X5" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryJiangX115;Pooling=true"/>
          <add name="guangd11x5" namespace="D11X5" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryGuangD115;Pooling=true"/>
          <add name="chongq11x5" namespace="D11X5" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryChongQ115;Pooling=true"/>
          <add name="chongqssc" namespace="SSC" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryChongQSSC;Pooling=true"/>
          <add name="jiangxssc" namespace="SSC" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryJiangXSSC;Pooling=true"/>
          <add name="fc3d" namespace="D3" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryFC3D;Pooling=true"/>
          <add name="shanghssl" namespace="SSL" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryShangHSSL;Pooling=true"/>
          <add name="tcpl35" namespace="PL35" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryPL35;Pooling=true"/>
          <add name="hun12x3" namespace="D12X3" connectionString="server=LOCALHOST\SQLEXPRESS;user id=sa; password=ddd;database=LotteryHuN12X3;Pooling=true"/>
        </databases>
      </dataSource>
    </dataSources>
  </dataSourceSection>
  <appSettings>
    <!-- 是否开启异步下载 -->
    <add key="isAsyncDown" value="true"/>
    <!-- 数据源 -->
    <add key="dataSource" value="mysql"/>
    <!-- 公共数据库名称 -->
    <add key="commonDB" value="Lottery"/>
    <!-- Category表及公共表所在的数据库连接字符串名 -->
    <add key="commonTable" value="common"/>
    <!-- 11选5公共维表所在的数据库存连接字符串名 -->
    <add key="11x5DmTable" value="jiangx11x5"/>
    <!-- 时时彩公共维表所在的数据库存连接字符串名 -->
    <add key="sscDmTable" value="jiangxssc"/>
    <!-- 福彩3D公共维表所在的数据库存连接字符串名 -->
    <add key="3dDmTable" value="fc3d"/>
    <!-- 时时乐公共维表所在的数据库存连接字符串名 -->
    <add key="sslDmTable" value="shanghssl"/>
    <!-- 体彩排列3与5公共维表所在的数据库存连接字符串名 -->
    <add key="pl35DmTable" value="tcpl35"/>
    <!-- 湖南幸运赛车公共维表所在的数据库存连接字符串名 -->
    <add key="hun12x3DmTable" value="hun12x3"/>
    <!-- 中奖提醒声音文件名 -->
    <add key="noticeSoundFileName" value="notice.wav"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>